.contact{
  float: right;
  margin-top: 3%;
}

.SpeakContants{
  width: 100%;
  height: 150%;
}

.SpeakButton{
  text-align: center;
}

.OwnSpeakButton{
  display: inline-block;
  color: #FFF;
  background: #668ad8;
  width: 40%;
  height: auto;
}

.wordlist{
  display: inline-block;
  color: #FFF;
  background: #668ad8;
  width: 40%;
  height: auto;
}