.contact{
  float: right;
  margin-top: 3%;
}

.SpeakContants{
  width: 100%;
  height: 150%;
}

.SpeakButton{
  text-align: center;
}

.OwnSpeakButton{
  display: inline-block;
  color: #FFF;
  background: #386ddf;
  width: 40%;
  height: auto;
}

.word_list{
  display: inline-block;
  color: #FFF;
  background: #185c0b;
  width: 40%;
  height: auto;
  text-align: center;
}